/* This file contains the styles for the login component */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vv;
  }

.login-modal {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 1080px;
    max-width: 100%;
    min-height: 620px;
    background: linear-gradient(to right, #667296, #6476b1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

/*First Column*/
.login-form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 80%;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  input {
    background-color: #eee;
    border: none;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
  }
  
  input.invalid {
    border-color: #e74c3c;
  }
  
  .error {
    color: #e74c3c;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  
  button {
    background-color:#030303;
    color: #fff;;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    background: #95a5a6;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background: #2980b9;
  }

/*Presentation Login Styles*/

  .login-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    padding: 20px;
  }

  /* Adjust grid layout for smaller screens */
@media (max-width: 768px) {
  .login-modal {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}